{% extends "base.html" %} 

{% block content %}
<div class="container pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <h3 class="mb-3">Edit File Documentation</h3>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %} 
                        {% if form_type == 'filedoc' %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.errors }}
                                <label for="{{ form.name.id_for_label }}">Name:</label>
                                {{ form.name }}
                                <small id="nameHelp" class="form-text text-muted">Example: Article, Resume, Presentation</small>
                            </div>
                            <div class="form-group form-check">
                                {{ form.is_optional.errors }}
                                {{ form.is_optional }}
                                <label class="form-check-label" for="{{ form.is_optional.id_for_label }}">Optional:</label>
                            </div>
                            <div class="form-group">
                                {{ form.file_type.errors }}
                                <label for="{{ form.file_type.id_for_label }}">Allowed formats:</label>
                                {{ form.file_type }}
                            </div>
                            <div class="form-group">
                                {{ form.quantity.errors }}
                                <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
                                {{ form.quantity }}
                            </div>
                        {% elif form_type == 'textdoc' %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.errors }}
                                <label for="{{ form.name.id_for_label }}">Name:</label>
                                {{ form.name }}
                                <small id="nameHelp" class="form-text text-muted">Example: Article, Resume, Presentation</small>
                            </div>
                            <div class="form-group form-check">
                                {{ form.is_optional.errors }}
                                {{ form.is_optional }}
                                <label class="form-check-label" for="{{ form.is_optional.id_for_label }}">Optional:</label>
                            </div>
                            <div class="form-group">
                                {{ form.measure.errors }}
                                <label for="{{ form.measure.id_for_label }}">Measure:</label>
                                {{ form.measure }}
                            </div>
                            <div class="eds-field__sub">
                                <div class="eds-field__sub--left"></div>
                                <div class="eds-field__sub--right"></div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form.min.errors }}
                                        <label for="{{ form.min.id_for_label }}">Minimum:</label>
                                        {{ form.min }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form.max.errors }}
                                        <label for="{{ form.max.id_for_label }}">Maximum:</label>
                                        {{ form.max }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row justify-content-center align-items-center mt-3">
                            <div class="col-4 col-lg-6 text-right">
                                <input type="submit" class="eds-btn eds-btn--button eds-btn--fill" value="Update">
                            </div>
                            <div class="col-4 col-lg-6">
                                <a data-spec="eds-link" href="{% url 'docs' event_id %}" class="eds-link">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  
                        