{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/{{event.id}}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/docs_form">Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Add Events</a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item open">
            <div class="navbar__avatar" data-toggle="dropdown" id="navbarDropdown">
                <svg class="eds-avatar__background eds-avatar__background--has-border" height="50" width="50" data-spec="spec-avatar">
                    <image class="navbar__avatar-img" href="{% static 'images/avatar-icon.png' %}" height="50" width="50" preserveAspectRatio="xMidYMin slice">
                    </image>
                </svg>
            </div>
            <ul class="dropdown-menu form-wrapper eds-nav-list" aria-labelledby="navbarDropdown">
                <li class="dropdown-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>