<form method="post">
    {% csrf_token %} 
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.errors }}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name }}
        <small id="nameHelp" class="form-text text-muted">Example: Article, Resume, Presentation</small>
    </div>
    <div class="form-group">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}:</label>
        {{ form.description }}
    </div>
    <div class="form-group form-check">
        {{ form.is_optional.errors }}
        {{ form.is_optional }}
        <label class="form-check-label" for="{{ form.is_optional.id_for_label }}">{{ form.is_optional.label }}</label>
    </div>
    <div class="form-group">
        {{ form.measure.errors }}
        <label for="{{ form.measure.id_for_label }}">{{ form.measure.label }}:</label>
        {{ form.measure }}
    </div>
    <div class="eds-field__sub">
        <div class="eds-field__sub--left"></div>
        <div class="eds-field__sub--right"></div>
    </div>
    <div class="form-row">
        <div class="col-3">
            <div class="form-group">
                {{ form.min.errors }}
                <label for="{{ form.min.id_for_label }}">{{ form.min.label }}:</label>
                {{ form.min }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                {{ form.max.errors }}
                <label for="{{ form.max.id_for_label }}">{{ form.max.label }}:</label>
                {{ form.max }}
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-4 col-lg-6 text-right">
            <input type="submit" class="eds-btn eds-btn--button eds-btn--fill" value="Update">
        </div>
        <div class="col-4 col-lg-6">
            <a data-spec="eds-link" href="{% url 'docs' event_id %}" class="eds-link">Cancel</a>
        </div>
    </div>
</form>