appnope==0.1.0
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
coverage==4.0.3
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11
eventbrite==3.3.3
gunicorn==19.9.0
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
oauthlib==2.1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2-binary==2.7.4
ptyprocess==0.6.0
Pygments==2.2.0
PyJWT==1.6.4
python-coveralls==2.9.1
python3-openid==3.1.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
whitenoise==3.3.1
pylint==2.1.1