{% extends '../shared/base.html' %}
{% block content %}
<div class="row">
    <h1 class="display-3 text-center text-light reveal">Post-Registration App</h1>
</div>
<div class="row">
    <p class="text-center text-light">Login with your Eventbrite account to start</p>
</div>
<div class="row">
    <form>
        <div class="col-lg-12 text-center">
            <a class="btn btn-success" href="{% url 'social:begin' 'eventbrite' %}">Login with Eventbrite </a>
        </div>
    </form>
</div>
</div>
{% endblock %}