{% extends "base.html" %} 


{% block content %} 
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <ul class="eds-breadcrumbs">
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600"
                       href="/"
                       data-spec="breadcrumbs-link">Managed Events</a>
                    <span class="eds-l-mar-hor-1">
                    <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon"
                       aria-hidden="true">
                        <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24">
                            <path id="eds-icon--chevron-right-chunky_base"
                                  fill-rule="evenodd" clip-rule="evenodd"
                                  d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                            </path>
                        </svg>
                    </i>
                </span>
                </li>
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600"
                       href="{% url 'docs' event.id %}"
                       data-spec="breadcrumbs-link">{{ event.name }}</a>
                    <span class="eds-l-mar-hor-1">
                    <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon"
                       aria-hidden="true">
                        <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24">
                            <path id="eds-icon--chevron-right-chunky_base"
                                  fill-rule="evenodd" clip-rule="evenodd"
                                  d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                            </path>
                        </svg>
                    </i>
                </span>
                </li>
                <li class="eds-breadcrumbs__item">
                <span data-spec="breadcrumbs-active"
                      class="eds-text-bm eds-text-color--grey-900">New Requirement</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-md-6">
            <h3>Create Documentation Requirement</h3>
            <hr class="eds-divider__hr eds-bg-color--grey-200 eds-divider--horizontal" data-spec="divider-hr" aria-hidden="true" />
            <div class="card mt-3">
                <div class="card-body">
                    <div class="eds-radio" data-spec="radio-wrapper" role="radiogroup">
                        <legend class="col-form-label pt-0">Type of Submission:</legend>
                        <div class="eds-radio__option" data-spec="radio-option-container">
                            <input type="radio" class="eds-radio__input" name="doc_switcher" value="file" id="fileRadio" {% if file_form %} checked {% endif %} data-spec="radio-button" data-automation="radio-checked-example-0" aria-checked="true"/>
                            <label class="mb-0 eds-radio__label eds-radio__delegate" for="fileRadio" data-spec="radio-delegate">Item 1</label>
                            <label class="mb-0 eds-radio__label eds-radio__display-label" for="fileRadio" data-spec="radio-display-label" data-automation="radio-checked-example-0-label">File Submission</label>
                        </div>
                        <div class="eds-radio__option" data-spec="radio-option-container">
                            <input type="radio" class="eds-radio__input" name="doc_switcher" value="text" id="textRadio" {% if not file_form %} checked {% endif %} data-spec="radio-button" data-automation="radio-checked-example-1" aria-checked="false"/>
                            <label class="mb-0 eds-radio__label eds-radio__delegate" for="textRadio" data-spec="radio-delegate">Item 2</label>
                            <label class="mb-0 eds-radio__label eds-radio__display-label" for="textRadio" data-spec="radio-display-label" data-automation="radio-checked-example-1-label">Form/Text Submission</label>
                        </div>
                    </div>

                    <form action="" method='post'>
                        {% csrf_token %}
                        <div class="doc_req_file">
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ forms.file_doc.errors }}
                                <label for="{{ forms.file_doc.name.id_for_label }}">{{ forms.file_doc.name.label }}:</label>
                                {{ forms.file_doc.name }}
                                <small id="nameHelp" class="form-text text-muted">Example: Article, Resume, Presentation</small>
                            </div>
                            <div class="form-group form-check">
                                {{ forms.file_doc.is_optional.errors }}
                                {{ forms.file_doc.is_optional }}
                                <label class="form-check-label" for="{{ forms.file_doc.is_optional.id_for_label }}">{{ forms.file_doc.is_optional.label }}</label>
                            </div>
                            <div class="form-group">
                                {{ forms.file_doc.file_type.errors }}
                                <label for="{{ forms.file_doc.file_type.id_for_label }}">{{ forms.file_doc.file_type.label }}:</label>
                                {{ forms.file_doc.file_type }}
                            </div>
                            <div class="form-group">
                                {{ forms.file_doc.quantity.errors }}
                                <label for="{{ forms.file_doc.quantity.id_for_label }}">{{ forms.file_doc.quantity.label }}:</label>
                                {{ forms.file_doc.quantity }}
                            </div>
                            <div class="row justify-content-center align-items-center mt-3">
                                <div class="col-4 col-lg-6 text-right">
                                    <input type='submit' name='submit_file' value="Create" class="eds-btn eds-btn--submit eds-btn--fill" />
                                </div>
                                <div class="col-4 col-lg-6">
                                    <a data-spec="eds-link" href="{% url 'docs' event.id %}" class="eds-link">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" method='post'>
                        {% csrf_token %}
                        <div class="doc_req_text">
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ forms.text_doc.errors }}
                                <label for="{{ form.name.id_for_label }}">{{ forms.text_doc.name.label }}:</label>
                                {{ forms.text_doc.name }}
                                <small id="emailHelp" class="form-text text-muted">Example: Article, Resume, Presentation</small>
                            </div>
                            <div class="form-group">
                                {{ forms.text_doc.description.errors }}
                                <label class="form-check-label" for="{{ forms.text_doc.description.id_for_label }}">{{ forms.text_doc.description.label }}:</label>
                                {{ forms.text_doc.description }}
                            </div>
                            <div class="form-group form-check">
                                {{ forms.text_doc.is_optional.errors }}
                                {{ forms.text_doc.is_optional }}
                                <label class="form-check-label" for="{{ forms.text_doc.is_optional.id_for_label }}">{{ forms.text_doc.is_optional.label }}</label>
                            </div>
                            <div class="form-group">
                                {{ forms.text_doc.measure.errors }}
                                <label for="{{ forms.text_doc.measure.id_for_label }}">{{ forms.text_doc.measure.label }}:</label>
                                {{ forms.text_doc.measure }}
                            </div>
                            <div class="eds-field__sub">
                                <div class="eds-field__sub--left"></div>
                                <div class="eds-field__sub--right"></div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ forms.text_doc.min.errors }}
                                        <label for="{{ forms.text_doc.min.id_for_label }}">{{ forms.text_doc.min.label }}:</label>
                                        {{ forms.text_doc.min }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ forms.text_doc.max.errors }}
                                        <label for="{{ forms.text_doc.max.id_for_label }}">{{ forms.text_doc.max.label }}:</label>
                                        {{ forms.text_doc.max }}
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center mt-3">
                                <div class="col-4 col-lg-6 text-right">
                                    <input type='submit' name='submit_text' value="Create" class="eds-btn eds-btn--submit eds-btn--fill" />
                                </div>
                                <div class="col-4 col-lg-6">
                                    <a href="{% url 'docs' event.id %}">
                                        <a data-spec="eds-link" href="{% url 'docs' event.id %}" class="eds-link">Cancel</a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    const divFiles = $(".doc_req_file");
    const divText = $(".doc_req_text");
    const toggleForms = function (event) {
        if (event.target.value == 'text') {
            divFiles.fadeOut('fast', () => divText.fadeIn());
        }
        else {
            divText.fadeOut('fast', () => divFiles.fadeIn());
        }
    }
    const switcher = function () {
        // divFiles.hide();
        divText.hide();
        $(":radio").on('change', toggleForms);
    }
    $(document).ready(switcher);
</script> 
{% endblock content %}
