{% extends "base.html" %} {% block content %} {% include "partials/jumbotron.html" %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-8 col-md-6">
            <h3 class="mb-3">Create Documentation Requirement</h3>
            <div class="card">
                <div class="card-body">
                    <h5>Type of Submission:</h5>
                    <div class="form-group form-check">
                        <input type="radio" name="doc_switcher" value="file" id="fileRadio"
                            class="form-check-input"
                            {% if file_form %} checked {% endif %}>
                        <label class="form-check-label" for="fileRadio">
                            File Submission
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input type="radio" name="doc_switcher" value="text" id="textRadio" class="form-check-input"
                            {% if not file_form %} checked {% endif %}>
                        <label class="form-check-label" for="textRadio">
                            Form/Text Submission
                        </label>
                    </div>
                    <form action="" method='post'>
                        {% csrf_token %}
                        <div class="doc_req_file">
                            {{ forms.file_doc.as_p }}
                            <div class="row justify-content-center mt-3">
                                <div class="col-4 col-lg-6 text-right">
                                    <input type='submit' name='submit_file' value="Create" class="btn btn-primary"/>
                                </div>
                                <div class="col-4 col-lg-6">
                                    <a href="{% url 'docs' event.id %}" class="btn btn-light">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" method='post'>
                        {% csrf_token %}
                        <div class="doc_req_text">
                            {{ forms.text_doc.as_p }}
                            <div class="row justify-content-center mt-3">
                                <div class="col-4 col-lg-6 text-right">
                                    <input type='submit' name='submit_text' value="Create" class="btn btn-primary"/>
                                </div>
                                <div class="col-4 col-lg-6">
                                    <a href="{% url 'docs' event.id %}" class="btn btn-light">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    const divFiles = $(".doc_req_file");
    const divText = $(".doc_req_text");
    const toggleForms = function (event) {
        if (event.target.value == 'text') {
            divFiles.fadeOut('fast', () => divText.fadeIn());
        }
        else {
            divText.fadeOut('fast', () => divFiles.fadeIn());
        }
    }
    const switcher = function () {
        // divFiles.hide();
        divText.hide();
        $(":radio").on('change', toggleForms);
    }
    $(document).ready(switcher);
</script> {% endblock content %}