<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ event.name.text }}</h1>
            <p class="lead">Fecha Inicio Evento {{ event.start.utc }}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <h3>Type of Submission:</h3>
    </div>
    <div class="row justify-content-center m-3">
        <ul>
            <li>
                <label for="id_switcher">Submission by file</label>
                <input type="radio" name="doc_switcher" value="file" id="id_switcher">
            </li>
            <li>
                <label for="id_switcher2"> Submission by form / text</label>
                <input type="radio" name="doc_switcher" value="plain_text" id="id_switcher2">
            </li>
        </ul>
    </div>
    <div class="row justify-content-center m-3">
        <form action="" method='post'>
            {% csrf_token %}
            <div class="doc_req_file">
                {{ forms.file_doc.as_p }}
                <input type='submit' name='submit_file' class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="row justify-content-center m-3">
        <form action="" method='post'>
            {% csrf_token %}
            <div class="doc_req_text">
                {{ forms.text_doc.as_p }}
                <input type='submit' name='submit_text' class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    const divFiles = $(".doc_req_file");
    const divText = $(".doc_req_text");
    const toggleForms = function (event) {
        if (event.target.value == 'plain_text') {
            divFiles.fadeOut('fast', () => divText.fadeIn());
        }
        else {
            divText.fadeOut('fast', () => divFiles.fadeIn());
        }
    }
    const switcher = function () {
        divFiles.hide();
        divText.hide();
        $(":radio").on('change', toggleForms);
    }
    $(document).ready(switcher);
</script>
</body>
</html>