{% extends "base.html" %} {% block content %}
{%include "partials/jumbotron.html" %}
<div class="container">
    <div class="row pt-2 pb-2">
        <div class="col-md-9">
            <div class='row mb-3'>
                <div class='col-5'><h3>Start Submissions</h3></div>
                <div class='col-5'><h3>End Submissions</h3></div>
                <div class='col-2'></div>
            </div>
            <div class='row mb-3' id='allow_edit_div'>
                <div class='col-5'><h5>{{ event_model.init_submission }}</h5></div>
                <div class='col-5'><h5>{{ event_model.end_submission }}</h5></div>
                <div class='col-2'><button class="btn btn-primary" id='allow_edit'>Edit</button></div>
            </div>
            <div class='row mb-3' id='confirm_edit_div'>
                <input type="hidden" value="{{ event.eb_event_start }}" id="eb_event_start">
                <form action="" method="post" class="form-inline w-100" id="dates_form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="col-5">{{ field }}</div>
                    {% endfor %}
                    <div class="col-1">
                        <input class='btn btn-info' type="submit" value="Save" id='confirm_edit'/>
                    </div>
                    <div class="col-1">
                        <button id="cancel_update" class="btn btn-primary">Cancel</button>
                    </div>
                </form>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Dates Warning</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modal-body-warning">
                                The start date is greater than the start date of the event.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="save_warning_dates">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class='row justify-content-end pt-3'>
        <div>
            <a class="btn btn-primary" href="{% url 'doc_form' event.id %}" role="button"> New Submission</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="doc-list__title">File Documentation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title of the Document</th>
                    <th scope="col">File types Accepted</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Is Required</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in docs_file %}
                <tr>
                    <td>
                        <h5>{{ doc.name }}</h5>
                    </td>
                    <td>
                        <ul>
                        {% for file_type in doc.file_types %}
                            <li>{{ file_type }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <h5>{{ doc.quantity}}</h5>
                    </td>
                    <td>
                        {% if doc.is_optional %}
                        <h5>Optional</h5>
                        {% else %}
                        <h5>Mandatory</h5>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'edit-filedoc' id=doc.id %}" class="btn btn-info">
                            Edit
                        </a>
                        <a href="/doc_form/?id={{ event.id }}" class="btn btn-danger disabled" disable>
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="doc-list__title">Text Documentation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title of the Document</th>
                    <th scope="col">Type of Limitation</th>
                    <th scope="col">Min</th>
                    <th scope="col">Max</th>
                    <th scope="col">Is Required</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in docs_text %}
                <tr>
                    <td>
                        <h5>{{ doc.name }}</h5>
                    </td>
                    <td>
                        <h5>{{ doc.measure }}</h5>
                    </td>
                    <td>
                        <h5>{{ doc.min }}</h5>
                    </td>
                    <td>
                        <h5>{{ doc.max }}</h5>
                    </td>
                    <td>
                        {% if doc.is_optional %}
                        <h5>Optional</h5>
                        {% else %}
                        <h5>Mandatory</h5>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'edit-textdoc' id=doc.id %}" class="btn btn-info">
                            Edit
                        </a>
                        <a href="/doc_form/?id={{ event.id }}" class="btn btn-danger disabled">
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
{% load static %}
<script type="text/javascript" src="{% static 'js/docs.js' %}"></script>
{% endblock content %}
