<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ event.name }}</h1>
            <p class="lead">{{ event.start }}</p>
        </div>
    </div>
    <div class="text-right">
        <a class="btn btn-primary" href="{% url 'doc_form' event.id %}" role="button">Add</a>    
    </div>
    <div class="row">
        <div class="col" style="border-bottom: 1px solid gray">
            <h2>Documentation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Format</th>
                      <th scope="col">Optional</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for doc in docs %}
                        <tr>
                            <td>                                
                                <h5>{{ doc.name }}</h5>
                            </td>
                            <td>
                                {% for file_type in doc.file_types %}
                                <ul>
                                  <li>{{ file_type }}</li>
                                </ul>
                                {% endfor %}
                            </td>
                            <td>
                                {{ doc.is_optional }}
                            </td>
                            <td>
                                <a href="/doc_form/?id={{ event.id }}" class="btn btn-info">
                                    Edit
                                </a>
                                <a href="/doc_form/?id={{ event.id }}" class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            
            </table>
        </div>
    </div>
    
</div>
</body>
</html>