<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div row="justify-content-center">
            <div class="col-10 col-md-8">
                <h3> Thanks for buying a ticket</h3>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    {% csrf_token %}
                    <p class="card-text">For the upload of the request submissions please click on the button below</p>
                    <a href="#" class="btn btn-primary">Upload Submissions</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>