{% extends "base.html" %} 

{% block content %}
{%include "partials/jumbotron.html" %} 
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <ul class="eds-breadcrumbs">
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600" href="/" data-spec="breadcrumbs-link">
                        Managed Events
                    </a>
                    <span class="eds-l-mar-hor-1">
                        <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon" aria-hidden="true">
                            <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="eds-icon--chevron-right-chunky_base" fill-rule="evenodd" clip-rule="evenodd" d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                                </path>
                            </svg>
                        </i>
                    </span>
                </li>
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600" href="{% url 'docs' event_model.id %}" data-spec="breadcrumbs-link">
                        {{ event.name }}
                    </a>
                    <span class="eds-l-mar-hor-1">
                        <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon" aria-hidden="true">
                            <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="eds-icon--chevron-right-chunky_base" fill-rule="evenodd" clip-rule="evenodd" d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                                </path>
                            </svg>
                        </i>
                    </span>
                </li>
                <li class="eds-breadcrumbs__item">
                    <span data-spec="breadcrumbs-active" class="eds-text-bm eds-text-color--grey-900">Evaluators</span>
                </li>
            </ul>
        </div>
    </div>

    {% include "partials/event_tabs.html" with evaluators_tab_is_active=True %}

    <div class="row pt-2 pb-2">
        <div class="col-lg-9">
            <div class='row mb-3'>
                <div class='col-3'>
                    <p class="lead">Start Evaluations</p>
                </div>
                <div class='col-3'>
                    <p class="lead">End Evaluations</p>
                </div>
            </div>
            <div class='row mb-3' id='datesView'>
                <div class='col-3'>
                    <p>{{ event_model.start_evaluation }}</p>
                </div>
                <div class='col-3'>
                    <p>{{ event_model.end_evaluation }}</p>
                </div>
                <div class='col-3'>
                    <span class="eds-icon-button eds-icon-button--active eds-icon-button--brand">
                        <button class="eds-btn--button eds-btn--none eds-btn--icon-only" type="button" id='showEditBtn'>
                            <i class="eds-vector-image eds-icon--small" data-spec="icon" aria-hidden="true">
                                <svg id="eds-icon--pencil_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path id="eds-icon--pencil_base" fill-rule="evenodd" clip-rule="evenodd" d="M4 17.7L6.3 20l-2.9.6.6-2.9zm.3-1L15.4 5.6l3 3L7.3 19.7l-3-3zM16.1 4.9l1.4-1.4 3 3-1.4 1.4-3-3zM17.5 2L3.2 16.4 2 22l5.6-1.2L22 6.5 17.5 2z"></path>
                                    <g id="eds-icon--pencil_dashes" fill-rule="evenodd" clip-rule="evenodd">
                                        <path d="M12 21h2v1h-2zm4 0h2v1h-2zm4 0h2v1h-2z"></path>
                                    </g>
                                </svg>
                            </i>
                        </button>
                    </span>
                </div>
            </div>
            <div class='row mb-3 d-none' id='editForm'>
                <input type="hidden" value="{{ event.eb_event_start }}" id="eb_event_start">
                <form id="evalPeriodForm" action="" method="post" class="form-inline w-100">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col-3">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="col-1">
                        <span class="eds-icon-button eds-icon-button--active eds-icon-button--brand">
                            <button class="success-btn eds-btn--button eds-btn--none eds-btn--icon-only" type="submit" id='submitBtn'>
                                <i class="eds-vector-image eds-icon--small" data-spec="icon" aria-hidden="true">
                                    <svg id="eds-icon--check_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path id="eds-icon--check_base" d="M4 12.8l4.8 4.7L20 6.5" fill="none" stroke="#050505" stroke-miterlimit="10"></path>
                                    </svg>
                                </i>
                            </button>
                        </span>
                    </div>
                    <div class="col-1">
                        <span class="eds-icon-button eds-icon-button--active eds-icon-button--brand">
                            <button class="eds-btn--button eds-btn--none eds-btn--icon-only" type="button" id="cancelBtn">
                                <i class="eds-vector-image eds-icon--small" data-spec="icon" aria-hidden="true">
                                    <svg id="eds-icon--cross_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path id="eds-icon--cross_base" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M18.3 5L12 11.3 5.7 5l-.7.7 6.3 6.3L5 18.3l.7.7 6.3-6.3 6.3 6.3.7-.7-6.3-6.3L19 5.7z"></path>
                                    </svg>
                                </i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class='row mb-3 pl-3 d-none' id='warning_div'>
                <div class="eds-notification-bar eds-bg-color--vibrant-yellow"
                        role="alert"
                        style="width:65%"
                        data-spec="notification-bar">
                    <div class="eds-notification-bar__icon">
                        <i class="eds-vector-image eds-icon--small eds-vector-image--white"
                            data-spec="icon"
                            aria-hidden="true">
                            <svg class="eds-icon--alert-chunky_svg"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                <path class="eds-icon--alert-chunky_base"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M12 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zm0-14c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8z">
                                </path>
                                <path class="eds-icon--alert-chunky_dot"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M11 14h2v2h-2z">
                                </path>
                                <path class="eds-icon--alert-chunky_line"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M11 8h2v5h-2z">
                                </path>
                            </svg>
                        </i>
                    </div>
                    <div class="eds-notification-bar__content"></div>
                </div>
            </div>
            <div class='row mb-3 pl-3 d-none' id='error_div'>
                <div class="eds-notification-bar eds-notification-bar--alert"
                        role="alert"
                        style="width:65%"
                        data-spec="notification-bar">
                    <div class="eds-notification-bar__icon">
                        <i class="eds-vector-image eds-icon--small eds-vector-image--white"
                            data-spec="icon"
                            aria-hidden="true">
                            <svg class="eds-icon--alert-chunky_svg"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                <path class="eds-icon--alert-chunky_base"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M12 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zm0-14c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8z">
                                </path>
                                <path class="eds-icon--alert-chunky_dot"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M11 14h2v2h-2z">
                                </path>
                                <path class="eds-icon--alert-chunky_line"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M11 8h2v5h-2z">
                                </path>
                            </svg>
                        </i>
                    </div>
                    <div class="eds-notification-bar__content"></div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row pb-2">
        <div class="col">
            <h1>Evaluators</h1>
        </div>
        <div class="col text-right">
            <a class="eds-btn eds-btn--button eds-btn--fill" href="{% url 'evaluator_create' event_model.id %}" role="button">
                Add Evaluator
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluator_event in evaluator_events %}
            <tr>
                <td>{{ evaluator_event.evaluator.name }}</td>
                <td>{{ evaluator_event.evaluator.email }}</td>
                <td>
                    <span class="badge evaluators_states">{{ evaluator_event.status }}</span>
                </td>
                <td>
                    <span class="eds-icon-button eds-icon-button--active eds-icon-button--brand">
                        <a href="{% url 'evaluator_update' event_model.id evaluator_event.evaluator.id %}">
                            <button class="eds-btn--button eds-btn--none eds-btn--icon-only" type="button">
                                <i class="eds-vector-image eds-icon--small" data-spec="icon" aria-hidden="true">
                                    <svg id="eds-icon--pencil_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path id="eds-icon--pencil_base" fill-rule="evenodd" clip-rule="evenodd" d="M4 17.7L6.3 20l-2.9.6.6-2.9zm.3-1L15.4 5.6l3 3L7.3 19.7l-3-3zM16.1 4.9l1.4-1.4 3 3-1.4 1.4-3-3zM17.5 2L3.2 16.4 2 22l5.6-1.2L22 6.5 17.5 2z"
                                        />
                                        <g id="eds-icon--pencil_dashes" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M12 21h2v1h-2zm4 0h2v1h-2zm4 0h2v1h-2z" />
                                        </g>
                                    </svg>
                                </i>
                            </button>
                        </a>
                    </span>
                    <span class="eds-icon-button eds-icon-button--active eds-icon-button--brand">
                        <a href="{% url 'evaluator_delete' event_model.id evaluator_event.evaluator.id %}">
                            <button class="eds-btn--button eds-btn--none eds-btn--icon-only" type="button">
                                <i class="eds-vector-image eds-icon--small" data-spec="icon" aria-hidden="true">
                                    <svg id="eds-icon--trash_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path id="eds-icon--trash_base" fill-rule="evenodd" clip-rule="evenodd" d="M5 6h1v15H5V6zm13 0h1v15h-1V6zM5 21h14v1H5v-1z"
                                        />
                                        <path id="eds-icon--trash_top" fill-rule="evenodd" clip-rule="evenodd" d="M15 4V2H9v2H4v1h16V4h-5zm-1 0h-4V3h4v1z" />
                                        <g id="eds-icon--trash_lines" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M9 8h1v11H9zm5 0h1v11h-1z" />
                                        </g>
                                    </svg>
                                </i>
                            </button>
                        </a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'js/evaluators.js' %}"></script>
{% endblock content %}