{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <h1>Your Events</h1>
    </div>
    {% if not events %}
    <div class="alert alert-warning" role="alert">
        It seems that all your events are being handled in our app! :D
    </div>
    {% else %}
    <ul class="list-group">
        {% for event in events %}
        <li>
            <a href="{% url 'events' event.eb_id %}" class="list-group-item list-group-item-action">
                <h5>{{ event.name }}</h5>
                <small>{{ event.start.day }}/{{ event.start.month }}/{{ event.start.year }}</small>
                -
                <small>{{ event.end.day }}/{{ event.end.month }}/{{ event.end.year }}</small>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
