{% extends "base.html" %} 

{% block content %}
{%include "partials/jumbotron.html" %} 
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <ul class="eds-breadcrumbs">
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600" href="/" data-spec="breadcrumbs-link">
                        Managed Events
                    </a>
                    <span class="eds-l-mar-hor-1">
                        <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon" aria-hidden="true">
                            <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="eds-icon--chevron-right-chunky_base" fill-rule="evenodd" clip-rule="evenodd" d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                                </path>
                            </svg>
                        </i>
                    </span>
                </li>
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600" href="{% url 'docs' event_id %}" data-spec="breadcrumbs-link">
                        {{ event.name }}
                    </a>
                    <span class="eds-l-mar-hor-1">
                        <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon" aria-hidden="true">
                            <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="eds-icon--chevron-right-chunky_base" fill-rule="evenodd" clip-rule="evenodd" d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                                </path>
                            </svg>
                        </i>
                    </span>
                </li>
                <li class="eds-breadcrumbs__item">
                    <span data-spec="breadcrumbs-active" class="eds-text-bm eds-text-color--grey-900">Evaluators</span>
                </li>
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'docs' event_id %}">Requirements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'evaluators' event_id %}">Evaluators</a>
        </li>
         <li class="nav-item">
            <a class="nav-link active" href="{% url 'submissions' event_id %}">Submissions</a>
        </li>
    </ul>
    <div class="row pb-2">
        <div class="col">
            <h1>Submissions</h1>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">Situation</th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Type of Requirement</th>
                <th scope="col">Evaluators</th>
                <th scope="col">Evaluation</th>
            </tr>
        </thead>
        <tbody>
        {% for submission in filesubmission_list %}
            <tr class="text-center">
                <td>
                    <span class="badge evaluators_states">{{ submission.state }}</span>
                </td>
                <td>{{ submission.id }}</td>
                <td>
                    <a href="{{ submission.file.url }}" target="_blank">{{ submission.file }}</a>
                </td>
                <td >{{ submission.file_doc.name }}</td>
                <td>
                    {% if evaluators_cont %}
                    <a href="{% url 'evaluators' event_id %}"> {{ evaluators_cont }} evaluator{{ evaluators_cont|pluralize }}</a>
                    {% else %}
                    <a class="eds-text-color--ui-red" href="{% url 'evaluators' event_id %}"> No evaluators yet</a>
                    {% endif %}
                </td>
                <td><button class="btn btn-primary btn-sm">Final Opinion</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'js/evaluators.js' %}"></script>
{% endblock content %}