{% extends "base.html" %} 
{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
{%include "partials/jumbotron.html" %} 
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <ul class="eds-breadcrumbs">
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600" href="/" data-spec="breadcrumbs-link">
                        {% if is_organizer %}
                        Managed Events
                        {% else %}
                        Events to Evaluate
                        {% endif %}
                    </a>
                    <span class="eds-l-mar-hor-1">
                        <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon" aria-hidden="true">
                            <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="eds-icon--chevron-right-chunky_base" fill-rule="evenodd" clip-rule="evenodd" d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                                </path>
                            </svg>
                        </i>
                    </span>
                </li>
                {% if is_organizer %}
                <li class="eds-breadcrumbs__item">
                    <a class="eds-breadcrumbs__item--link eds-text-bm eds-text-color--grey-600" href="{% url 'docs' event_id %}" data-spec="breadcrumbs-link">
                        {{ event.name }}
                    </a>
                    <span class="eds-l-mar-hor-1">
                        <i class="eds-vector-image eds-icon--xsmall eds-vector-image--grey-400" data-spec="icon" aria-hidden="true">
                            <svg id="eds-icon--chevron-right-chunky_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="eds-icon--chevron-right-chunky_base" fill-rule="evenodd" clip-rule="evenodd" d="M10.2 17l5-5-5-5-1.4 1.4 3.6 3.6-3.6 3.6z">
                                </path>
                            </svg>
                        </i>
                    </span>
                </li>
                <li class="eds-breadcrumbs__item">
                    <span data-spec="breadcrumbs-active" class="eds-text-bm eds-text-color--grey-900">Submissions</span>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% include "partials/event_tabs.html" with submissions_tab_is_active=True %}

    <div class="row justify-content-end">
        <form method="get" class="form-inline">
            {{ filter.form.non_field_errors }}
            <div class="form-group">
                {{ filter.form.state.errors }}
                <label for="{{ filter.form.state.name }}">State:</label>
                {{ filter.form.state }}
            </div>
            <button type="submit" class="btn btn-info">Search</button>
        </form>
    </div>
    {% render_table table 'partials/submissions_table.html' %}

</div>
<script src="{% static 'js/evaluators.js' %}"></script>
{% endblock content %}