<!DOCTYPE html>
{% load inlinecss %}
{% inlinecss "css/email.css" %}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thanks For Buying a ticket</title>
</head>
<body bgcolor="#FFFFFF">
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h3>{{ name }}: Thanks For buying a ticket</h3>
                            <p class="lead">We are glad to see you in the {{ event.name }} event.</p>
                            <p><img src="{{ event.logo }}" alt="event logo"/></p>
                            <h3>But there is one more step...</h3>
                            <p class="callout">
                                In order to complete your registration, you have to upload the required documentation to be evaluated by our committee.
                                You can do it clicking in the button below.
                            </p>
                            <a href="{{ host }}{% url 'landing' id code %}" target=”_blank”
                               class="btn">Complete registration</a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>
                                <a href="#">Terms</a> |
                                <a href="#">Privacy</a> |
                                <a href="#">
                                    <em>Unsubscribe</em>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>
{% endinlinecss %}
