{% load inlinecss %}
{% inlinecss "css/email.css" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Thanks For Buying a ticket</title>
</head>
<body bgcolor="#FFFFFF">
<table class="body-wrap">
	<tr>
		<td class="container" bgcolor="#FFFFFF">
			<div class="content">
			<table>
				<tr>
					<td>	
						<h3>Thanks For Buying a ticket</h3>
						<p class="lead">We are glad for your visit to the {{ event.name }} event.</p>
						<p><img src="{{ event.image }}" /></p>
						<p class="callout">
							For complete your registration we need you to upload the submissions that we request for the event. Do it in the link below
						</p>
						<a class="btn">Click Me!</a>							
					</td>
				</tr>
			</table>
			</div>							
		</td>
	</tr>
</table>
<table class="footer-wrap">
	<tr>
		<td class="container">
			<div class="content">
			<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
		    </table>
			</div>	
		</td>
	</tr>
</table>
</body>
</html>
{% endinlinecss %}