{% load inlinecss %}
{% inlinecss "css/email.css" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New Evaluator has arrived.</title>
	

</head>
 
<body bgcolor="#FFFFFF">

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						
						<h3>{{ evaluator.name }} has joined to the Evaluators Team for your event: {{ event.name }}.</h3>

						<!-- A Real Hero (and a real human being) -->
						<p><img src="{{ event.logo }}" /></p><!-- /hero -->
						
						<h3>Your event have a new Evaluator.</h3>
						<p><div style="text-transform: capitalize;">{{ evaluator.name }}</div> has accepted your invitation to be part of the evaluators for your event {{ event.name }}.</p>
						<p>Now he can send reviews for the submissions of the event.</p>
												
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>

{% endinlinecss %}
