<!DOCTYPE html>
{% load inlinecss %}
{% inlinecss "css/email.css" %}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Submissions Uploaded</title>
</head>
<body bgcolor="#FFFFFF">
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h3>Your submission was succesful uploaded</h3>
                            {% for doc in docs %}
                                <p class="lead">Your {{ doc.name }} was succesful uploaded</p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="callout">
                                We will contact you shortly to inform you of the final decision on your submissions
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>
                                <a href="#">Terms</a> |
                                <a href="#">Privacy</a> |
                                <a href="#">
                                    <em>Unsubscribe</em>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>
{% endinlinecss %}
