@import 'variables';


html {
    font-family: 'Roboto', sans-serif;
    color: #39364f;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: $footer-height+20px;
}

.footer {
    background-color: #1E0A3C;
    height: $footer-height;
    position: absolute;
    width: 100%;
    bottom: 0;
    &__copyright {
        color: #6f7287;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.btn-primary {
    color: white;
}

.navbar {
    height: 59px;
    border-bottom: 1px solid #eeedf2;
    display: flex;
    justify-content: space-between;
    &__brand {
        width: 100px;
    }
}

.jumbotron {
    background-color: #1E0A3C;
    color: white;
}

.card {
    ul {
        list-style: none;
    }
}

form {
    .form-group {
        ul {
            padding-left: 1.25rem;
        }
    }
}

.form-wrapper {
    right: 0;
    left: auto;
}

.navbar {
    // background-color: $ui-purple;
    color: $grey-600;

    &__avatar {
        width: 55px;
        height: 100%;
        position: relative;
        margin: 0 auto;
        cursor: pointer;
    
        &-img {
            width: 100%;
            display: block;
            border-radius: 50%;
            position: absolute;
            border: 4px solid white;
            box-shadow: 1px 1px 3px #4B4D63;
        }
    }
}

.doc-list__title {
    border-bottom: 1px;
}

.link-wrapper {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;    
    }
}

.rotate-90 {
    transform: rotate(90deg);
}

button.success-btn {
    background-color: $ui-green;
}

.card-body textarea {
    resize: none;
}

.container_post {
    height: 100vh;
    width: 100vw;
    background-color: #16A85A;
    display: flex;
    align-items: center;
}
.container_post img{
    top:0;
    left:0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index:0;
}

.hidden_div{
    display:none;
}

.eds-card-list__item {

    &:hover {
        #eds-icon--up-chevron_base {
            fill: $ui-orange;
        }          
    }
}
