@import 'variables';


body {
    font-family: 'Roboto', sans-serif;
    color: #39364f;
}

.content {
    min-height: 70vh;
    padding-bottom: 50px;
}

.footer {
    background-color: #1E0A3C;
    min-height: 150px;
    &__copyright {
        color: #6f7287;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.btn-primary {
    color: white;
}

.navbar {
    height: 59px;
    border-bottom: 1px solid #eeedf2;
    display: flex;
    justify-content: space-between;
    &__brand {
        width: 100px;
    }
}

.jumbotron {
    background-color: #1E0A3C;
    color: white;
}

.card {
    ul {
        list-style: none;
    }
}

.form-wrapper {
    right: 0;
    left: auto;
}

.navbar {
    // background-color: $ui-purple;
    color: $grey-600;

    &__avatar {
        width: 55px;
        height: 100%;
        position: relative;
        margin: 0 auto;
        cursor: pointer;
    
        &-img {
            width: 100%;
            display: block;
            border-radius: 50%;
            position: absolute;
            border: 4px solid white;
            box-shadow: 1px 1px 3px #4B4D63;
        }
    }
}

.doc-list__title {
    border-bottom: 1px;
}
