{% load static %}
<html>
  <head>
      <title>PostRegistration App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
  <div class="container-fluid d-flex justify-content-center align-items-center h-100 flex-column"
       style="background-color:#39364f">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>